body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.topics {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topics .item {
  padding: 6px 0;
}
